.detail {
  margin: auto;
  width: 400px;
  height: 1000px;
  padding: 5px;
  border: 2px solid;
  box-shadow: 6px 4px;
}

.ui.card {
  background-color: rgb(194, 181, 0);
  width: 500px;
  border: 5px solidrgb(194, 181, 0);
  font-size: 15px;
}
.content {
  display: flex;
  align-content: space-around;
  flex-direction: column;
  color: rgb(2, 4, 95);
}
